<form [formGroup]="form" (submit)="onAddProduct()">
  <mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <mat-form-field>
      <input
        formControlName="title"
        matInput
        type="text"
        placeholder="Post Title"
      />
      <mat-error *ngIf="form.get('title').invalid">
        Please enter a post title.
      </mat-error>
    </mat-form-field>
    <div class="upload">
      <button (click)="filePicker.click()" mat-stroked-button type="button">
        <mat-icon>add_a_photo</mat-icon>
      </button>
      <input (change)="onImagePicked($event)" type="file" #filePicker />
    </div>
    <div *ngIf="imagePreview" class="image-preview">
      <img mat-card-image [src]="imagePreview" [alt]="form.get('title')" />
    </div>
    <mat-form-field>
      <textarea
        formControlName="content"
        matInput
        rows="4"
        placeholder="Post Content"
      ></textarea>
      <mat-error *ngIf="form.get('content').invalid"
        >Please enter a post title.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save Post</button>
  </mat-card>
</form>
