<div class="products-list" *ngIf="(products$ | async).length as products; else empty">
  <mat-accordion *ngFor="let product of products$ | async">
    <app-product [product]="product"></app-product>
  </mat-accordion>
</div>
<ng-template #empty>
  <div>No Products Yet</div>
</ng-template>

<mat-paginator [length]="(products$ | async).length" [pageSize]="productsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangePage($event)"></mat-paginator>
<!-- <div *ngIf="(products$ | async).length">{{(products$ | async)|json}}</div> -->
